@font-face {
    font-family: "helveticaMed";
    src: url('/Users/billyridgway/Desktop/ATOM Websites/Waimumu/fonts/helveticaneue_medium-webfont.woff2'),
         url('/Users/billyridgway/Desktop/ATOM Websites/Waimumu/fonts/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$dark-blue: rgba(51, 71, 80, 1);
$light-blue: rgba(9, 92, 118, 1);
$blue-grey: rgba(198, 207, 206, 1);
$grey: rgba(241, 242, 244, 1);
